.social{
  text-align: center;
  height: 500px;
  background-image: url("../../assets/bgs/bg-pablo-desktop.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  .pablo{
    margin-bottom: 100px;
    gap: 10px;
    p:first-child{
      font-size: 24px;
      font-family: var(--semibold);
    }
  }
  .ctaPablo{
    gap: 37px;
    h2{
      max-width: 668px;
      width: 92%;
      span{
        color: var(--vermelho);
      }
    }
  }
}