.bio{
  padding: 40px 10px;
  width: 100%;
  max-height: 1550px;
  height: 100%;
  background-image: url("./assets/bg-bio-link.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 500px){
  .bio{
    padding: 30px 20px;
  }
  
}