// ELEMENTOS

h1{
  font-family: var(--fonte-bold);
  font-size: 38px;
  line-height: 3rem;
}
h2{
  font-family: var(--fonte-semibold);
  font-size: 24px;
  line-height: 2.2rem;
  opacity: .9;

}
p{
  font-family: var(--fonte-regular);
  font-size: 18px;
}
span{
  font-family: var(--fonte-regular);
}

a{
  text-decoration: none;
  color: #eaeaea;
}

@media (max-width: 1024px){
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 22px;
  }
  p{
    font-size: 16px;
  }
}

@media (max-width: 500px){
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 22px;
  }
  p{
    font-size: 16px;
  }
}

@media (max-width: 380px){
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 20px;
  }
}