// Fontes
@font-face {
  font-family: "regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/montserrat-regular.woff") format("woff");
}
@font-face {
  font-family: "semibold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/montserrat-semibold.woff") format("woff");
}
@font-face {
  font-family: "bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/montserrat-bold.woff") format("woff");
}