// Normalize
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat";
}

body, html{
  background-color: #060409;
  color: var(--branco);
}

//Seleção
::selection{
  color: var(--preto);
  background-color: var(--vermelho);
}



// Classes
.d-flex{
  display: flex;
  flex-direction: column;
}
.a{
  align-items: center;
}

.container{
  max-width: 1200px;
  width: 100%;
  padding: 40px 30px;
}

.button{
  padding: 20px 24px;
  display: block;
  width: 320px;
  text-align: center;
  cursor: pointer;
  background-color: var(--vermelho);
  font-weight: 700;
  border: 0;
  transition: .4s;
  border-radius: 4px;
  animation: pulsar 2s alternate infinite;
  
  &:hover{
    background-color: rgb(96, 5, 0);
  }
}

@keyframes pulsar {

  100%{
    box-shadow: 0 0 12px 4px #d00101a3;
  }
}

@media (max-width: 800px){
  .container{
    padding: 20px 10px;
  }

  .button{
    padding: 20px 4px;
    display: block;
    width: 270px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background-color: var(--vermelho);
    font-weight: 700;
    border: 0;
    transition: .4s;
    border-radius: 4px;
    animation: pulsar 2s alternate infinite;
    
    &:hover{
      background-color: rgb(96, 5, 0);
    }
  }
  
}