//Barra
::-webkit-scrollbar{
  width: 8px;
  background-color: var(--preto);
}
  //Botão
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: linear-gradient(315deg, var(--vermelho) 10%, var(--preto));
}