.card{
  border-radius: 8px;
  width: 200px;
  height: 150px;
  background-color: var(--vermelho);
  justify-content: center;
  gap: 30px;

}
@media (max-width: 480px){
  .card{
    width: 280px;
  }
}